<footer class="footer">
    <div class="row">
        <div class="col-sm-3">
            <div class="footer__item">
                <h5>Terms and conditions</h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer__item">
                <h5>Polices</h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer__item">
                <h5>Help center</h5>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer__item">
                <h5>Contact</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5>© E-commerce Project</h5>
        </div>
    </div>
</footer>
